<div
    class="
        flex flex-col md:flex-row
    "
>
    {{ partial:secondary_navigation navigation='collection::process_series' navigation_title='Process Series' }}
    <main
        class="
            flex-grow md:flex-shrink md:flex-basis-3/4
        "
    >
        <h2
            class="
                text-white uppercase font-bold
                bg-gray
                mb-4 p-2
                sticky top-4 z-40
            "
        >
            {{ title }}
        </h2>
        <div
            class="
                grid gap-4
                grid-cols-2 xl:grid-cols-3
            "
        >
            {{ collection:process_series }}
                <a href="{{ url }}">
                    {{ main_photo }}
                        <img
                            src="{{ glide:url height='313' width='475' }}"
                            alt="{{ alt | smartypants | entities }}"
                            loading="lazy"
                            decoding="async"
                        />
                    {{ /main_photo }}
                    <span
                        class="
                            block
                            text-white uppercase font-bold
                            bg-gray
                            p-2 mt-2
                        "
                    >
                        {{ title }}
                    </span>
                </a>
            {{ /collection:process_series }}
        </div>
    </main>
</div>
