<div
    class="
        flex flex-col md:flex-row
    "
>
    {{ partial:secondary_navigation navigation='collection::process_series' navigation_title='Process Series' }}
    <main
        class="
            flex-grow md:flex-shrink
            md:flex-basis-3/4
            md:pl-3
            relative
            pt-6 md:pt-0
        "
    >
        <h2
            class="
                text-white uppercase font-bold
                bg-gray
                mb-4 p-2
                sticky top-4 z-40
            "
        >
            {{ title }}
        </h2>
        <figure
            class="
                flex flex-col
                {{ if text_position == 'right' }}lg:flex-row{{ /if }}
                mb-4
            "
        >
            {{ main_photo }}
                <div
                    class="
                        flex-grow flex-shrink lg:flex-basis-1/2 xl:flex-basis-2/3
                        mb-4
                        {{ if text_position == 'right' }}
                            lg:mb-0
                            lg:mr-4
                        {{ /if }}
                    "
                >
                    <img
                        src="{{ url }}"
                        alt="{{ alt | smartypants | entities }}"
                        loading="lazy"
                        decoding="async"
                    />
                </div>
            {{ /main_photo }}
            {{ if main_text }}
                <div
                    class="
                        flex-grow flex-shrink lg:flex-basis-1/2 xl:flex-basis-1/3
                        bg-gray
                        p-4 pt-3
                    "
                >
                    <figcaption
                        class="
                            prose
                            text-white
                            leading-snug
                            {{ if text_position == 'below' }}sm:text-col-2{{ /if }}
                        "
                    >
                        {{ main_text | markdown }}
                    </figcaption>
                </div>
            {{ /if }}
        </figure>
        {{ if photo_grid }}
            <div
                class="
                    grid sm:grid-cols-2 gap-4
                "
            >
                {{ photo_grid }}
                    <figure
                        class="
                            flex flex-col
                        "
                    >
                        {{ photo }}
                            <img
                                src="{{ glide:url width='500' :height='image_height' }}"
                                alt="{{ alt | smartypants | entities }}"
                                class="{{ if description }}mb-4{{ /if }}"
                                loading="lazy"
                                decoding="async"
                            />
                        {{ /photo }}
                        {{ if description }}
                            <div
                                class="
                                    flex-grow
                                    bg-gray
                                    p-4 pt-3
                                "
                            >
                                <figcaption
                                    class="
                                        prose
                                        text-white
                                        leading-snug
                                    "
                                >
                                    {{ description | markdown }}
                                </figcaption>
                            </div>
                        {{ /if }}
                    </figure>
                {{ /photo_grid }}
            </div>
        {{ /if }}
    </main>
</div>
